* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  font-family: "Rubik", sans-serif;
  --font-size-menu: 16px;
  --font-size-main: 30px;

  --color-font-menu: #4a4a4a;
  --color-background-main: #3cdbc0;
  --color-font_main: #ffffff;
}

.container_header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-font_main);
}

.logo {
  width: 155px;
  margin: 10px auto;
}
.container_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: var(--font-size-menu);
  color: var(--color-font-menu);
  margin-bottom: 13px;
}

.title {
  text-decoration: none;
  color: var(--color-font-menu);
  padding: 10px;
  text-transform: uppercase;
}

.container_text {
  height: 100vh;
  background-color: var(--color-background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.text {
  width: 200px;
  text-align: center;
  color: var(--color-font_main);
  font-size: var(--font-size-main);
}

@media all and (min-width: 768px) {
  .container_header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px
  }
 
  .text {
    font-size: 40px;
  }

