* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --font-family: "Rubik", sans-serif;
  --font-size-menu: 16px;
  --font-size-main: 30px;

  --color-font-menu: #4a4a4a;
  --color-background-main: #3cdbc0;
  --color-font_main: #ffffff;
}

.container_header {
  position: sticky;
  top: 0;
}
.container_logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_header {
  width: 155px;
  margin: 10px auto;
}

.container_menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: var(--font-family);
  font-size: var(--font-size-menu);
  color: var(--color-font-menu);
  margin-top: 10px;
  margin-bottom: 13px;
  margin-right: 20px;
}

.links_blog,
.links_contact {
  text-decoration: none;
  color: var(--color-font-menu);
}

.links_blog {
  margin-right: 20px;
}
.container_main {
  height: 100vh;
  background-color: var(--color-background-main);
  font-family: var(--font-family);
  font-size: var(--font-size-main);
  color: var(--color-font_main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: ;
}

.item {
}

@media all and (min-width: 768px) {
  .container_menu {
    display: flex;
    justify-content: flex-end;
  }
  .container_main {
    font-size: 40px;
  }
}
